@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.pop-container button {
	padding: 5px 10px;
	background: #fa7474;
	border: 0;
	outline: none;
	cursor: pointer;
	font-size: 12px;
	font-weight: 500;
	border-radius: 10px;
	transition: transform 0.2s;
	width: 10%;
	font-family: 'Metamorphous', sans-serif;
}
.pop-score {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	font-family: 'Martel', sans-serif;
	padding: 2rem;
}

.popup {
	width: 70%;
	height: 70%;
	background: #60a3fa;
	border-radius: 1rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 0 2rem 4rem;
	color: #333;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

}

.popup h2 {
	font-family: "Metamorphous",  Impact;
}
.pop-best {
	color: #5c5c5b;
	font-size: large;
	padding: 2rem;
}
.pop-current {
	font-size: large;
	padding: 2rem;
}
.area {
	padding: 2rem;
	text-align: center;
	font-size: 3.5em;
	color: #3efa05;
	text-transform: uppercase;
	animation: blur .75s ease-out infinite;
	text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
  }
  
  @keyframes blur {
	from {
	  text-shadow:0px 0px 10px #f6f8f6,
		0px 0px 10px #fff, 
		0px 0px 25px #fff,
		0px 0px 25px #fff,
		0px 0px 25px #fff,
		0px 0px 25px #fff,
		0px 0px 25px #fff,
		0px 0px 25px #fff,
		0px 0px 50px #fff,
		0px 0px 50px #fff,
		0px 0px 50px #7B96B8,
		0px 0px 150px #7B96B8,
		0px 10px 100px #7B96B8,
		0px 10px 100px #7B96B8,
		0px 10px 100px #7B96B8,
		0px 10px 100px #7B96B8,
		0px -10px 100px #7B96B8,
		0px -10px 100px #7B96B8;
	}
  }




