@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.regles{
    text-align: center;
    font-family: 'Martel', serif;
    font-size: 16px;
}
h1{
    font-family: 'Irish Grover';
    text-align: center;
    font-size: 64px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    justify-self: center;
    padding: 1rem;
}

.container img{
    width: 70px;
    height: 70px;
    padding: 5%;
    justify-self: center;
}
.arrayScore{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-content: center;
    padding: 1rem;
}
.arrayScore p{
    justify-self: center;
    
}
