html {
    box-sizing: border-box;
}

body {
    background-color: blue
}

.no-display {
    animation: validpaire 0.55s linear 0s 1;
    animation-fill-mode: forwards;
}

.img-card {
    width: 300px;
    aspect-ratio: 1/1;
    display: block;
    margin: 10px;
}

.img-card-active {
    animation: flip 0.5s linear 0s 1;
}

.floating-img {
    padding: 30px;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: column;
}

@keyframes flip {
    0% {
        transform: scaleX(1)
    }

    25% {
        transform: scaleX(0.5)
    }

    50% {
        transform: scaleX(0)
    }

    75% {
        transform: scaleX(0.5)
    }

    100% {
        transform: scaleX(1)
    }
}

@keyframes validpaire {
    0% {
        transform: rotate(3deg);
        opacity: 1;
    }

    5% {
        transform: rotate(-3deg);
        opacity: 1;
    }

    10% {
        transform: rotate(3deg);
        opacity: 1;
    }

    15% {
        transform: rotate(-3deg);
        opacity: 1;
    }

    20% {
        transform: rotate(3deg);
        opacity: 1;
    }

    100% {

        opacity: 0;
    }
}